
# Python
.venv/
__pycache__/
*.pyc

# Env
.env
.python-version

# Logs
logs/

# Secrets
secrets/*
!secrets/.gitkeep

# dbt
.dbt/
target/

# OS
.DS_Store
Thumbs.db

# etc
.ipynb_checkpoints/
*.json
*copy.py
tutorial.txt